.grid {
    margin: 100px 0 0 ;
}

.menu {
    background-color: rgb(175, 216, 248);
    width: 100vw;
    top: 0;
    left: 0;
    padding: 10px;
    position: fixed;
}

.menu-btn {
    margin-right: 10px;
}
